In [1]:
import pandas as pd
from math import isnan

In [2]:
GT_plates = pd.read_excel("PlatesLateral.ods", engine="odf")
GT_plates_videos = pd.read_excel("PlatesVideos.ods", engine="odf")
results = pd.read_csv('../out/results_confosable_Bidi.csv')
results_videos = pd.read_csv('../out/results_videos.csv')
GT_plates = GT_plates[GT_plates['Plate'].notna()]
GT_plates['Plate'] = GT_plates['Plate'].apply(lambda x: str(x).replace('“','').replace('”',''))
GT_plates

    Model          Video    Plate  Init_frame  End_frame Detected
0    a109  a109e_takeoff   JA6801         NaN        NaN        Y
1    a109   augusta_a109   D-HAVN         NaN        NaN        Y
2    a109        aw109sp   S2-AJP         NaN        NaN        Y
3    a109      corporate   N433AK         NaN        NaN        Y
4    a109        crashed   N109EX         NaN        NaN        Y
..    ...            ...      ...         ...        ...      ...
132   uh1           huey   VH-UYH        57.0      113.0        Y
133   uh1            uh1   N617WC         NaN        NaN        Y
134    w3            EHS     0718         NaN        NaN        Y
135    w3           Rare  SN-33XG         NaN        NaN        Y
136    w3         Saving   EC-MJH         NaN        NaN        N

[137 rows x 6 columns]

In [3]:
results

     Model          Video  Frame Pred_plate  Confidence
0     a109  a109e_takeoff      0        NaN    0.000000
1     a109  a109e_takeoff      1        NaN    0.000000
2     a109  a109e_takeoff      2        405    0.680593
3     a109  a109e_takeoff      3        NaN    0.000000
4     a109  a109e_takeoff      4        NaN    0.000000
...    ...            ...    ...        ...         ...
4097    w3         Saving    102        NaN    0.000000
4098    w3         Saving    103        NaN    0.000000
4099    w3         Saving    104        NaN    0.000000
4100    w3         Saving    105        NaN    0.000000
4101    w3         Saving    106        NaN    0.000000

[4102 rows x 5 columns]

In [4]:
results_videos

      Model      Video  Frame Pred_plate  Confidence
0      a109  corporate      0     W2SHDT    0.999998
1      a109  corporate      1     N2&SHD    1.000000
2      a109  corporate      2      M2SHD    0.999951
3      a109  corporate      3      N2UHD    1.000000
4      a109  corporate      4        NAA    0.021489
...     ...        ...    ...        ...         ...
76441    w3       Rare    325         $0    0.854689
76442    w3       Rare    326          0    0.630538
76443    w3       Rare    327         1U    0.972253
76444    w3       Rare    328       SImS    0.988457
76445    w3       Rare    329         oe    0.043561

[76446 rows x 5 columns]

In [5]:
# Analyze results from images

In [6]:
n = GT_plates.shape[0]
plates_found = 0
plates_found_by_voting = 0
detected = []
for i,row in GT_plates.iterrows():
    #Get plates recognized in that video
    preds = results.loc[(results['Model'] == row['Model']) & (results['Video'] == row['Video'])]
    #If a frame interval is defined, get only plates in that intervals
    if not isnan(row['Init_frame']):
        preds = preds[preds['Frame'].isin(range(int(row['Init_frame']),int(row['End_frame']+1)))]
    #Check if plate was found
    #print(row['Plate'])
    #print(list(preds['Pred_plate']))
    if row['Plate'] in list(preds['Pred_plate']) or str(row['Plate']).replace('-','') in list(preds['Pred_plate']):
        plates_found+=1
        detected+=['Y']
    else:
        detected+=['N']
    if len(preds['Pred_plate'].mode(dropna=True)):
        democracy_plate = preds['Pred_plate'].mode(dropna=True)[0]
        if democracy_plate == row['Plate']:
            plates_found_by_voting+=1
GT_plates['Detected'] = detected
GT_plates.to_excel("PlatesLateral.ods", engine="odf",index=False)
print(plates_found/n,plates_found_by_voting/n)
GT_plates

0.6058394160583942 0.5036496350364964

    Model          Video    Plate  Init_frame  End_frame Detected
0    a109  a109e_takeoff   JA6801         NaN        NaN        Y
1    a109   augusta_a109   D-HAVN         NaN        NaN        Y
2    a109        aw109sp   S2-AJP         NaN        NaN        Y
3    a109      corporate   N433AK         NaN        NaN        Y
4    a109        crashed   N109EX         NaN        NaN        Y
..    ...            ...      ...         ...        ...      ...
132   uh1           huey   VH-UYH        57.0      113.0        Y
133   uh1            uh1   N617WC         NaN        NaN        Y
134    w3            EHS     0718         NaN        NaN        Y
135    w3           Rare  SN-33XG         NaN        NaN        Y
136    w3         Saving   EC-MJH         NaN        NaN        N

[137 rows x 6 columns]

In [7]:
# Analyze results from videos

In [8]:
n = GT_plates_videos.shape[0]
plates_found = 0
plates_found_by_voting = 0
detected = []
for i,row in GT_plates_videos.iterrows():
    #Get plates recognized in that video
    preds = results_videos.loc[(results_videos['Model'] == row['Model']) & (results_videos['Video'] == row['Video'])]
    #Check if plate was found
    #print(row['Plate'])
    #print(list(preds['Pred_plate']))
    if row['Plate'] in list(preds['Pred_plate']) or str(row['Plate']).replace('-','') in list(preds['Pred_plate']):
        plates_found+=1
        detected+=['Y']
    else:
        detected+=['N']
    if len(preds['Pred_plate'].mode(dropna=True)):
        democracy_plate = preds['Pred_plate'].mode(dropna=True)[0]
        print(preds['Pred_plate'].mode(dropna=True))
        if democracy_plate == row['Plate']:
            plates_found_by_voting+=1
GT_plates_videos['Detected'] = detected
GT_plates_videos.to_excel("PlatesVideos.ods", engine="odf",index=False)
print(plates_found/n,plates_found_by_voting/n)
GT_plates_videos

0    GAINER
dtype: object
0    D-HANN
dtype: object
0    S2-AJP
dtype: object
0    N33AK
dtype: object
0        PARKING
1    TRESPASSING
dtype: object
0    MEROPORTO
dtype: object
0    MEROPORTO
dtype: object
0    MEROPORTO
dtype: object
0    MEROPORTO
dtype: object
0    EDMISTON
dtype: object
0    G-FUFU
dtype: object
0    2012-06
dtype: object
0    D-HARI
dtype: object
0    L-HDPLANESPOTT
dtype: object
0    2011
dtype: object
0    HAWTC
dtype: object
0    NTSL
dtype: object
0    RESCUE
dtype: object
0    NISSY
dtype: object
0    N318PD
dtype: object
0    AVIO
dtype: object
0    -PMK
dtype: object
0    N58IB
dtype: object
0    HEHDAVIATIO
dtype: object
0    HEHDAVIATIO
dtype: object
0    HEHDAVIATIO
dtype: object
0    ADU
dtype: object
0    NO25TG
dtype: object
0    HA-HBS
dtype: object
0    -KAE
dtype: object
0    HA-HBY
dtype: object
0    4-80B
dtype: object
0    G-BYZA
dtype: object
0    N253WC
dtype: object
0    -GMBL
1    CMABL
2    GMABL
3     GMBL
4     GMRL
5       SE
dtype: object
0    EG-LHE
dtype: object
0    TROOPER
dtype: object
0    NG1BLS
dtype: object
0    JA777R
dtype: object
0    G-OV0
dtype: object
0    F-HSBP
dtype: object
0    C-GPCD
dtype: object
0    HHLL
dtype: object
0    G-MASH
dtype: object
0    D-HWAL
dtype: object
0    KHB
dtype: object
0    G-BYBI
dtype: object
0    HA-FLY
dtype: object
0    N828HA
dtype: object
0    SKYS
dtype: object
0    NBNE
dtype: object
0    G-LONE
dtype: object
0    CAMPBELL
dtype: object
0      HEHDAVIAT
1    HEHDAVIATIO
dtype: object
0    C-FETK
dtype: object
0    CDOSTUEE
dtype: object
0    N9122Z
dtype: object
0    HEHDAVIATION
dtype: object
0    DEXAAN
dtype: object
0    MTBSr
dtype: object
0    If
dtype: object
0    N7GZA
dtype: object
0    NAA5SI
dtype: object
0    AMOAXS
dtype: object
0    VH-WAU
dtype: object
0    JIM
dtype: object
0    D-HNWE
dtype: object
0    N1SAEH
dtype: object
0    GUARDIA
dtype: object
0    O-HOFG
dtype: object
0    1
dtype: object
0    LT
dtype: object
0    1
dtype: object
0    IHEUIKOPTE
dtype: object
0    SILVERCROS
dtype: object
0    SILVERCROS
dtype: object
0    HA-EUR
dtype: object
0         1
1    RESCUE
dtype: object
0    UR-AGA
dtype: object
0    C-FSHIR
dtype: object
0    NBBBED
dtype: object
0    YHELIKg
dtype: object
0    CCKIMN
dtype: object
0    EUROCOPTE
dtype: object
0        0A
1       0A1
2         A
3      ADUE
4         H
5         S
6    WH-TXY
7     WH-XY
dtype: object
0    CDOSTUEE
dtype: object
0    LY-HTB
dtype: object
0    EG-MTG
dtype: object
0    NBOCS
dtype: object
0    8257
dtype: object
0    D-HECB
dtype: object
0    OE-XEI
dtype: object
0    N8OGLF
dtype: object
0    09/3012020
dtype: object
0    2020
dtype: object
0    0
dtype: object
0    1
dtype: object
0    N1197Y
dtype: object
0    ZU-L12
1     ZU-L2
dtype: object
0    D-HYAC
dtype: object
0    D-HADW
dtype: object
0    STARS
dtype: object
0    112
dtype: object
0    EC-KFZ
dtype: object
0    11O
dtype: object
0    THEHDAVIATIO
dtype: object
0    HELISWISS
dtype: object
0    HL948
dtype: object
0    HEHDAVIAT
dtype: object
0    C-FIGR
dtype: object
0          2012
1    FIREPIGHTE
dtype: object
0    PLGRRT
dtype: object
0    HELICOPTER
dtype: object
0    EXPRESS
1     PH-HGB
dtype: object
0    SEL
dtype: object
0    R44
dtype: object
0    2020
dtype: object
0    MOO-RIP
dtype: object
0    F-GLOU
dtype: object
0    2C
dtype: object
0    ARMY
dtype: object
0    WH-ONZ
dtype: object
0    WH-ONZ
dtype: object
0    SHERIFF
dtype: object
0    0718
dtype: object
0    SN-38XG
dtype: object
0    MJORTEGA
dtype: object
0.6614173228346457 0.25196850393700787

    Model          Video    Plate Detected
0    a109  a109e_takeoff   JA6801        N
1    a109   augusta_a109   D-HAVN        Y
2    a109        aw109sp   S2-AJP        Y
3    a109      corporate   N433AK        Y
4    a109        crashed   N109EX        N
..    ...            ...      ...      ...
122   uh1           huey   VH-UYH        Y
123   uh1            uh1   N617WC        N
124    w3            EHS     0718        Y
125    w3           Rare  SN-33XG        Y
126    w3         Saving   EC-MJH        N

[127 rows x 4 columns]